.about {
  padding-top: 15px;
  max-width: 370px;
}

.about__title {
  margin: 0;
  margin-bottom: 30px;
}

.about__description {
  margin: 0;
  margin-bottom: 50px;
}

.about__button {
  width: auto;
}
