.content {
  background-image: url('../../img/evropa-bg.svg');
  background-repeat: no-repeat;
  background-position: center 134px;

  @media (max-width: $medium-width) {
    background-image: none;
  }
}

.content__actions {
  width: 100vw;
  max-width: $large-width;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;

  @media (max-width: $medium-width) {
    padding-left: 38px;
  }

  @media (max-width: $small-width) {
    padding-left: 16px;
  }
}

.content__wrapper {
  max-width: $large-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $medium-width) {
    padding-left: 0;
    padding-right: 0;
  }
}
