.footer-travels {
  width: 390px;
  margin-right: 89px;
  border-right: 1px solid $gray;

  @media (max-width: $small-width) {
    width: 100%;
    border-bottom: 1px solid $gray;
    border-right: none;
    text-align: center;
  }
}

.footer-travels__lists,
.footer-travels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-travels__lists {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $small-width) {
    justify-content: center;
  }
}

.footer-travels__column {
  &:nth-child(1) {
    width: 130px;
  }

  &:nth-child(2) {
    width: 124px;
  }

  @media (max-width: $small-width) {
    width: 50%;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      width: 50%;
    }
  }
}

.footer-travels__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.footer-travels__link {
  color: rgba($dark, 0.5);
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $dark;
  }

  &:active {
    opacity: 0.2;
  }
}
