.logo {
  @media (max-width: $medium-width) {
    display: flex;
    align-items: center;
    width: 65px;
    min-height: 50px;
    padding-left: 21px;
  }
}

.logo__image {
  display: block;

  @media (max-width: $medium-width) {
    width: 44px;
    height: 17px;
  }
}
