.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $medium-width) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__toggle {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 50px;
  padding: 0;
  background-color: $accent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &--closed {
    &::before {
      display: block;
      width: 22.5px;
      height: 1px;
      background-color: $white;
      box-shadow: 0 -6px $white, 0 6px $white;
    }

    &::after {
      display: none;
    }
  }

  &--opened {
    background-color: transparent;

    &::before {
      display: none;
    }

    &::after {
      display: block;
      width: 23px;
      height: 23px;
      background-image: url('../../img/close.svg');
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $medium-width) {
    display: flex;
    z-index: 1;

    &--nojs {
      display: none;
    }
  }
}

.main-nav__phone {
  margin-left: 54px;
  padding-right: 15px;

  @media (max-width: $medium-width) {
    display: none;
  }
}
