.slider__item {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 80px;
  padding-bottom: 120px;

  &--active {
    display: flex;
  }

  @media (max-width: $medium-width) {
    padding-top: 0;
    padding-bottom: 50px;
  }
}
