// Colors

$accent: #fe7865;
$accent-hover: #f17d4b;
$text: #2c2e3f;
$dark: #141517;
$light-bg: #fbf8f8;
$gray: #d7d9df;
$white: #ffffff;
$mobile-link: #48494d;


// Media
$small-width-min: 320px;
$small-width: 767px;
$medium-width: 1023px;
$large-width: 1200px;
